.container {
    text-align: center;
  }
  
  .horizontal-scroll {
    display: flex;
    padding: 10px;
  }
  
  .card {
    width: 6vw;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-right: 5px;
  }
  
  .card-body {
    padding: 5px;
  }
  
  .card-title {
    font-size: 13px;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 18px;
    margin-top: 10px;
  }

@media screen and (max-width: 768px) {
    .container {
      overflow-x: auto;
    }
  
    .horizontal-scroll {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      padding: 5px;
    }
  
    .card {
      width: 80vw;
      margin-right: 10px;
    }
  }
  
